.Wrapper{
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    background-color: rgb(247, 240, 252);
}

.header{
    font-size: 15px;
    color: indigo;
    margin-left: 50px;
}

.header div{
    font-size: 2.8em;
    color: indigo;
    font-family: cursive;
    text-shadow: 2px 2px 5px gray;
}

.navbar{
    display: flex;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 25px;
    margin: 15px 15px 10px 25px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}

.dropdown{
    background-color:rgb(247, 240, 252);
}

.opt:hover{
    background-color:rgb(235, 229, 240);
}

@media screen and (min-width:452px) {
    .menuicon{
        display: none;
    }
}

@media screen and (max-width:452px){
    
    .navbar{
        display: none;
    }
    
    .header{
        margin-left: 25px;
    }
    .menuicon{
        margin-right: 10px;
        margin-top: 10px;
    }
}


.navbar Link{
    text-decoration: none;
    color: black;
}

.navbar Button:hover{
    background-color: rgb(196, 200, 235);
}